table {
  width: 100%;

  tr {
    background: #f5f8f9;
    cursor: pointer;

    &:hover {
      .tableActions button {
        opacity: 1;
      }
    }
  }

  tr:first-child {
    color: #404851;
    font-family: Montserrat-Bold;
  }

  tr:nth-child(even) {
    background: #edf0f2
  }

  th {
    padding-left: 15px;
    text-align: left;
    height: 50px;
    color: #000;
    border-bottom: none;

    &.disabled {
      color: #7d858e;
    }

    &:first-child {
      width: 5%;
    }
    &:nth-child(2) {
      width: 25%;
    }
    &:nth-child(3) {
      width: 50%;
    }
  }

  tr:hover {
    background-color: #cf4868;

    &:first-child {
      cursor: auto;
      background-color: transparent;

      * {
        color: black;
      }
    }

    * {
      color: white;
    }
  }

  .tableActions {
    display: flex;
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: right;
    justify-content: space-around;
    margin-top: 13px;

    button {
      cursor: pointer;
      opacity: 0;
      height: 60%;
      color: black;
      margin: 2px 0;
    }
  }
}

.emptyTable {
  text-align: center;
}

.actionButtons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}