@font-face {
  font-family: Aldrich;
  src: url(assets/fonts/Aldrich/Aldrich-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(assets/fonts/Montserrat/Montserrat-Bold.ttf);
}